* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    border: 20px solid rgb(161, 46, 46);
}

.input{
    display: flex;
    width: 320px;
    height: 120px;
    font-size: 50px;
    font-weight: 600;
    text-align:right;
    vertical-align: bottom;
    padding: 70px 10px 5px 10px;
    border: unset;
    border-bottom: 2px solid rgb(161, 46, 46);
}
.section-buttons {
    padding: 3px;
    display: flex;
    border-top: unset;
    width: 320px;
    z-index: 0;
    flex-wrap: wrap;
}
.buttons{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    margin: 2px;
    width: 74px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(49, 46, 46);
    background-color: rgb(245, 245, 245);
    z-index: 2;
    box-shadow:2px 2px 2px rgb(116, 115, 115);
}